@import "tailwindcss";

@theme {
  --color-background: #0B0C10;
  --color-foreground: #FFFFFF;
  --font-bricolage: var(--font-bricolage);
  --font-degular: "Degular", sans-serif;
}

@font-face {
  font-family: 'Degular';
  src: url('/fonts/Degular.otf') format('opentype'), local('Degular'), local('Degular-Regular');
  font-weight: normal;
  font-style: normal;
}

:root {
  background-color: var(--color-background);
  color: var(--color-foreground);
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  margin: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Hide scrollbar for a cleaner cinematic look */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

@keyframes loadingLine {
  0% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(100%);
  }
}

@keyframes scrollLine {
  0% {
    transform: translateY(-150%);
  }

  50% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(150%);
  }
}